<% store_name = "" %>
<% total_store = 0 %>
<% @transactions.each do |transaction| %>
  <% if store_name != transaction.store_name %>
    <% if store_name != "" %>
      <tr>
        <td colspan=6 align='center'>Total</td>
        <td align='right'><%= number_to_currency(total_store, unit: '') %> </td>
      </table>
      <p/>
    <% end %>
    <% store_name = transaction.store_name %>
    <% total_store = 0 %>
    <table border=1 width=900px>
      <tr><th colspan=7><%= store_name %></th></tr>
      <tr><th>Data</th><th>Transação</th><th>CPF</th><th>Cartão</th><th>Crédito</th><th>Débito</th><th>Saldo</th></tr>
  <% end %>
  <tr>
    <td><%= transaction.date.strftime("%d/%m/%y %H:%M") %></td>
    <td><%= transaction.transaction_type.description %></td>
    <td><%= transaction.cpf %></td>
    <td><%= transaction.card %></td>

    <% if transaction.is_credit? %>
      <td align='right'><%= number_to_currency(transaction.value, unit: "") %></td><td></td>
      <% total_store += transaction.value %>
    <% else %>
      <td></td><td align='right'><%= number_to_currency(transaction.value, unit: "") %></td>
      <% total_store -= transaction.value %>
    <% end %>
    <td align='right'><%= number_to_currency(total_store, unit: '') %></td>
  </tr>
<% end %>
<tr>
  <td colspan=6 align='center'>Total</td>
  <td align='right'><%= number_to_currency(total_store, unit: '') %> </td>
</table>
